<!DOCTYPE html>
<html ng-app="app" ng-controller="csvCtrl">

<body>
<button ng-click="readCSV()">
Display CSV as Data Table
</button>
&nbsp&nbsp
<button class="btn btn-primary" ng-click="readCSV_2()">Show interning reg no</button><br><br>
<div id="divID">
  <table border="1px solid black" class="table">
  <th>SNO.</th><th>NAME</th><th>REG.NO</th>
    <tr ng-repeat="x in data">
      <td ng-repeat="y in x">{{ y }}</td>
      <td><input type="checkbox" ng-model="selected" ng-checked="exist(x)" ng-click="toggleSelection(x)"></td>
    </tr>
  </table>
</div>

<h3>Interning Students</h3>
<!-- <p ng-repeat ="selectedname in selected">
  {{selectedname}}</p> -->
<table border="1px solid black" class="table">
  <th>SNO.</th><th>NAME</th><th>REG.NO</th>
    <tr ng-repeat="selectedname in selected">
      <td ng-repeat="z in selectedname">{{ z }}</td>
    </tr>
</table>

<h3>Interning Students</h3>
<table border="1px solid black" class="table">
  <!-- <th>SNO.</th><th>NAME</th><th>REG.NO</th> -->
    <tr ng-repeat="col_regs in selected">
      <td ng-repeat="rowregs in col_regs" ng-show="$index==2" >{{ rowregs }}</td>
    </tr>
</table>



<!--make a button that shows tt of selected students only-->

<button class="btn btn-primary" ng-click="show_tt()">Show purva timetable</button>
<button class="btn btn-primary" ng-click="show_tt_2()">Show kunal timetable</button>
<button class="btn btn-primary" ng-click="showcommon()">Show common free Slots</button>

<br>


<table border="1px solid black" class="table">
  <!-- <th>SNO.</th><th>NAME</th><th>REG.NO</th> -->
    <tr ng-repeat="col in data_tt">
      <td ng-repeat="row in col track by $index" >{{ row }}</td>
    </tr>
</table>

<table border="1px solid black" class="table">
  <!-- <th>SNO.</th><th>NAME</th><th>REG.NO</th> -->
    <tr ng-repeat="col2 in data_tt2">
      <td ng-repeat="row2 in col2 track by $index" >{{ row2 }}</td>
    </tr>
</table>

<table border="1px solid black" class="table">
  <!-- <th>SNO.</th><th>NAME</th><th>REG.NO</th> -->
    <tr ng-repeat="col3 in data_intern">
      <td ng-repeat="row3 in col3 track by $index" >{{ row3 }}</td>
    </tr>
</table>
<p ng-repeat="p in emptySlots track by $index">{{p}}</p>

</body>
</html>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/angular.min.js"></script>
<script src="/app/controllers/csvCtrl.js"></script>
