<!DOCTYPE html>
<html>
<head>
	<title>Faculty Login Page</title>
</head>
<body>
<div class="page-header">
	<h1>Registered Students</h1>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<strong>Registered Students</strong>
	</div>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Registration No.</th>
		</tr>
		<tr ng-repeat="person in management.students">
			<td>{{person.Name}}</td>
			<td>{{person.RegNo}}</td>
			<td>
				<button type="button" class="btn btn-primary">Show TT</button>
				<button type="button" class="btn btn-danger">Drop Student</button>
			</td>
		</tr>
	</table>
</div>

<!-- Whenever loading is true show it-->
<div class="jumbotron text-center" ng-show="management.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Please Wait...</p>
</div>

<!-- Whenever there is error show it-->
<div class="row show-hide-message" ng-show="management.errorMessage">
	<div class="alert alert-danger">
		{{management.errorMessage}}
	</div>
</div>

<!-- Whenever success is true show it-->
<div class="row show-hide-message" ng-show="management.successMessage">
	<div class="alert alert-success">
		{{management.successMessage}}
	</div>
</div>
</body>
</html>
